<!-- service_request_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Service Request Details</title>
</head>
<body>
    <h1>Service Request Details</h1>
    
    <h2>Request Information</h2>
    <p>ID: {{ service_request.id }}</p>
    <p>Customer Name: {{ service_request.customer }}</p>
    <p>Type: {{ service_request.get_request_type_display }}</p>
    <p>Description: {{ service_request.description }}</p>
    <p>Status: {{ service_request.get_status_display }}</p>
    <p>Submitted At: {{ service_request.submitted_at }}</p>
    <p>Resolved At: {{ service_request.resolved_at }}</p>
    {% if service_request.attachment %}
        <p>Attachment: <a href="{{ service_request.attachment.url }}" download>Download Attachment</a></p>
    {% else %}
        <p>No attachment available.</p>
    {% endif %}

    {% if not user.is_superuser %}
        <h2>Tracking History</h2>
        {% if service_request.track_requests.all %}
            <ul>
                {% for tracking in service_request.track_requests.all %}
                    <li>{{ tracking.updated_at }} - {{ tracking.status }}: {{ tracking.notes }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tracking history available.</p>
        {% endif %}
    {% endif %}



    {% if user.is_superuser %}
        <a href="{% url 'update_service_request' service_request.pk %}">Update Request</a><br>
    {% endif %}

    {% if not user.is_superuser %}
        <a href="{% url 'delete_service_request' service_request.pk %}" 
        onclick="return confirm('Are you sure you want to delete this request?');">
        Delete Request
        </a><br>
    {% endif %}

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
